@{

    var isLoggedIn = false;
    var claim = User.Claims.FirstOrDefault();
    if (claim != null)
        isLoggedIn = true;
}

<ul class="navbar-nav flex-grow-1">

    @if (isLoggedIn)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Lessons" asp-action="Lessons_Student"><b>Student Lessons</b></a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="AfterLogin_Student" asp-action="UserPage_Student"><b>User Page</b></a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><b>Home</b></a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LOGIN"><b>Login</b></a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="REGISTER"><b>Register</b></a>
        </li>
    }
</ul>