@model online_education_site.Models.AddDocumentModel

<h1><b>Add Document</b></h1>

@using (@Html.BeginForm("AddDocumentLesson", "Lessons", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false, "", new { style = "color: red" })

    <div class="mb-3">

        <label for="formFile" class="form-label">Select File</label>
        @*<input class="form-control" type="file" id="formFile" name="File">*@

        <input type="file" asp-for="@Model.File" id="formFile" class="form-control">

        <input type="hidden" name="Id" value="@ViewBag.LessonId">

    </div>

    <button class="btn btn-primary" type="submit">Upload</button>
}
