@model List<online_education_site.EntityFramework.Models.Lesson>

<h1><b>All Lessons</b></h1>


<ul>
    @foreach (var lesson in Model)
    {
        <li>
            <a href="@Url.Action("Lesson", "Lessons",new {id = lesson.LessonId})">
                @lesson.LessonClassId @lesson.LessonName
            </a>
        </li>
    }
</ul>
