<h1><b>Account Settings</b></h1>

<a asp-controller="AfterLogin_Teacher" asp-action="Uploaded_documents_byTeacher"><b>Uploaded Documents</b></a>
<br>
<a asp-controller="AfterLogin_Teacher" asp-action="UserPage_Teacher"><b>Userpage</b></a>