<h1><b>Instructor Account Delete Page</b></h1>

@using (@Html.BeginForm("Teacher_Delete", "AfterLogin_Teacher"))
{
    <label for="email">E-mail</label>
    <input id="email" name="user_Email" />
    <br />

    <label for="sifre">Şifre</label>
    <input id="sifre" name="user_Password" />
    <br />

    <button class="btn btn-primary" type="submit">Delete</button>
}
