<h1><b>Instructor's Account Page</b></h1>

<a asp-controller="AfterLogin_Teacher" asp-action="Teacher_Update"><b>Instructor Account Update Page</b></a>
<br>
<a asp-controller="AfterLogin_Teacher" asp-action="Teacher_Delete"><b>Instructor Account Delete Page</b></a>