@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-image:url('file:///C:\Users\LENOVO\Desktop\online_education_site\wwwroot\images\main-background.jpg');">
    <h1 class="display-4">Welcome Online Education Platform</h1>    
</div>