@*
    <a asp-controller="Home" asp-action="Student_LOGIN"><b>Student Login</b></a>
    <br>
    <a asp-controller="Home" asp-action="Teacher_LOGIN"><b>Instructor Login</b></a>
*@

<div class="row">
    <div class="col-12 col-lg-6">
        <a asp-controller="Home" asp-action="Student_LOGIN"><b>Student Login</b></a>
        <br>
        <a href="@Url.Action("Student_LOGIN","Home")" class="register-link">
            @*<div class="register-image-description">Student Login</div>*@
            <img src="~/images/StudentsP.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500">
        </a>
    </div>

    <div class="col-12 col-lg-6">
        <a asp-controller="Home" asp-action="Teacher_LOGIN"><b>Instructor Login</b></a>
        <br>
        <a href="@Url.Action("Teacher_LOGIN","Home")" class="register-link">
            @*<div class="register-image-description">Instructor Login</div>*@
            <img src="~/images/Teacher.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500">
        </a>
    </div>
</div>