@*
    <a asp-controller="Home" asp-action="Student_REGISTER"><b>Student Register</b></a>
    <br>
    <a asp-controller="Home" asp-action="Teacher_REGISTER"><b>Instructor Register</b></a>
*@


    <div class="container px-4 py-5">
        <div class="g-5 py-5 row">
            <div class="col-12 col-lg-6">
                <a href="/Home/Student_REGISTER">
                    <img src="https://picsum.photos/300/300.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </a>
            </div>

            <div class="col-12 col-lg-6">
                <a href="/Home/Teacher_REGISTER">
                    <img src="https://picsum.photos/300/300.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </a>
            </div>
        </div>
    </div>
