<h1>Student Register Page</h1>

<form>

    <input placeholder="Email" />
    <br />
    <input placeholder="Password" />
    <br />
    <input placeholder="Name" />
    <br />
    <input placeholder="Surname" />
    <br />
    <input placeholder="ClassNumber" />
    <br />

</form>