<h1><b>Student Login Page</b></h1>

@using (@Html.BeginForm("Student_LOGIN", "Home"))
{
    <label for="email">E-mail</label>
    <input id="email" name="user_Email" />
    <br />

    <label for="sifre">Şifre</label>
    <input id="sifre" name="user_Password" />
    <br />

    <button class="btn btn-primary" type="submit">Login</button>
}

