<h1><b>Instructor Register Page</b></h1>

@using (@Html.BeginForm("Student_REGISTER", "Home"))
{
    <label for="email">E-mail</label>
    <input id="email" name="user_Email" />
    <br />

    <label for="sifre">Şifre</label>
    <input id="sifre" name="user_Password" />
    <br />

    <label for="name">Name</label>
    <input id="name" name="teacher_Name" />
    <br />

    <label for="surname">Surname</label>
    <input id="surname" name="teacher_Surname" />
    <br />

    <label for="branch">Branch</label>
    <input id="branch" name="teacher_BranchID" />
    <br />

    <button class="btn btn-primary" type="submit">Register</button>
}