
.btn-icon-only {
    line-height: 3rem;
    padding: 0;
}

[class*=shadow] {
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[class*=hover-] {
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.shadow-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
    box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
}

.rounded-circle {
    border-radius: 50% !important;
}


.customizer {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
}
