<a asp-controller="AfterLogin_Student" asp-action="Student_Update"><b>Student Update Page</b></a>
<br>
<a asp-controller="AfterLogin_Student" asp-action="Student_Delete"><b>Student Delete Page</b></a>