<h1><b>Student's Account Page</b></h1>

<a asp-controller="AfterLogin_Student" asp-action="Student_Update"><b>Student Account Update Page</b></a>
<br>
<a asp-controller="AfterLogin_Student" asp-action="Student_Delete"><b>Student Account Delete Page</b></a>